* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h5 {
  font-size: x-small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: red;
  color: white;
  border-radius: 50px;
  margin: 0.1rem;
  padding: 0.4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 2rem;
}
